{% extends 'base.html.twig' %}

{% block title %}Profil du Personnage {{ parent() }}{% endblock %}

{% block body %}

    <main class="container-fluid bg-light">
        <section class="container">
            <h1 class="pt-3 mb-3">
                {{ personnage.nom }} <strong>{{ personnage.prenom }}</strong>
                {# <?php if(utilisateur_connecte() && $_SESSION['id'] == $personnage_trouve->utilisateur_id): ?>
                    <span class="float-right">
                        <a href="<?= route('fiche-personnage&id=' . $personnage_trouve->id); ?>">
                            <i class="fas fa-user-secret"></i> Voir Fiche Privée
                        </a>
                    </span>
                <?php endif; ?> #}
            </h1>

            <article class="row">
                <div class="col-6">
                    <img class="img-fluid" src="{{ asset(personnage.illustration) }}" />
                </div>
                <div class="card col-6">
                    <div class="card-body">
                        <h4 class="card-title">{{ personnage.titres }}</h4>
                        <p class="card-text"><strong>Description :</strong></p>
                        <p class="card-text">{{ personnage.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                <strong>Clan :&nbsp;</strong>
                                <img class="img-48" src="{{ asset(personnage.clan.mon) }}" alt="Mon du Clan du Personnage" />
                                <strong><a href="{{ path('empire_clan', {id: personnage.clan.id} ) }}">{{ personnage.clan.nom }}</a></strong>
                        </li>
                        <li class="list-group-item">
                                <strong>École :&nbsp;</strong>
                                <img class="img-48" src="{{ asset(personnage.classe.icone) }}" alt="Icône de la Classe du Personnage" />
                                <strong><a href="{{ path('regles_ecole', {id: personnage.ecole.id} ) }}">{{ personnage.ecole.nom }}</a></strong>
                        </li>
                        <li class="list-group-item"><strong>XP :</strong> </li>
                        <li class="list-group-item"><strong>Rang :</strong> </li>
                        <li class="list-group-item"><strong>Joueur :</strong>
                            {% if personnage.joueur is not empty %}
                                {{ personnage.joueur.pseudo }}</li>
                            {% else %}
                                <small class="text-muted">Personnage Non-Joueur</small>
                            {% endif %}
                    </ul>
                </div>
                <div class="col-12">
                    <div class="card my-3 ml-2 card-body">
                        <h2 class="card-title">Historique</h2>
                        <div class="card-text ml-3">
                            {# <?php foreach($participations_du_personnage as $une_participation): ?>
                                <?php $une_scene_trouvee = scene_trouve_par_id($une_participation->scene_id); ?>
                                <?php $episode_parent = episode_trouve_par_id($une_scene_trouvee->id_episode); ?>
                                <?php if($une_participation->est_mort == 0): ?>
                                    a
                                    <?php if($une_participation->exp_gagne == 0): ?>
                                        participé 
                                    <?php else: ?>
                                        gagné <strong><?= $une_participation->exp_gagne; ?>xp</strong> 
                                    <?php endif; ?>
                                        dans la scène <a href="<?= route('episode&id=' . $episode_parent->id . '#scn' . $une_scene_trouvee->numero); ?>" ><strong><?= $une_scene_trouvee->titre; ?></strong></a> de l'episode <strong><?= $episode_parent->titre; ?></strong><br/>
                                <?php else: ?>
                                    <?= $personnage_trouve->prenom; ?> <strong style="color: red">est mort</strong> dans la scène <a href="<?= route('episode&id=' . $episode_parent->id . '#scn' . $une_scene_trouvee->numero); ?>" ><strong><?= $une_scene_trouvee->titre; ?></strong></a> de l'episode <strong><?= $episode_parent->titre; ?></strong><br/>
                                <?php endif; ?>
                            <?php endforeach; ?> #}
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </main>

{{ include('/parts/modal.html.twig') }}

{% endblock %}
