<nav class="nav justify-content-center">
    <a class="nav-link {% if app.request.get('_route') == 'admin_scene'
                          or app.request.get('_route') == 'admin_scene_create'
                          or app.request.get('_route') == 'admin_scene_edit' %}active{% endif %}" href="{{ path('admin_scene') }}">Scènes</a>

    <a class="nav-link {% if app.request.get('_route') == 'admin_episode'
                          or app.request.get('_route') == 'admin_episode_create'
                          or app.request.get('_route') == 'admin_episode_edit' %}active{% endif %}" href="{{ path('admin_episode') }}">Episodes</a>

    <a class="nav-link {% if app.request.get('_route') == 'admin_chapitre'
                          or app.request.get('_route') == 'admin_chapitre_create'
                          or app.request.get('_route') == 'admin_saison_edit' %}active{% endif %}" href="{{ path('admin_chapitre') }}">Chapitres</a>

    <a class="nav-link {% if app.request.get('_route') == 'admin_saison'
                          or app.request.get('_route') == 'admin_saison_create'
                          or app.request.get('_route') == 'admin_saison_edit' %}active{% endif %}" href="{{ path('admin_saison') }}">Saisons</a>

    <a class="nav-link {% if app.request.get('_route') == 'admin_utilisateur'
                          or app.request.get('_route') == 'admin_utilisateur_create'
                          or app.request.get('_route') == 'admin_utilisateur_edit' %}active{% endif %}" href="{{ path('admin_utilisateur') }}">Utilisateurs</a>
</nav>
