{% extends 'base.html.twig' %}

{% block title %}Panneau d'Administration {{ parent() }}{% endblock %}

{% block body %}

<main class="container-fluid bg-light page-min">
    <div class="container py-5">
        <h1 class="text-center">{% block h1 %}Bienvenue dans le Panneau d'Administration !{% endblock %}</h1>

        {{ include('back_office/admin-nav.html.twig') }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% block child %}
        <h2 class="mt-4">Aventure</h2>
        <hr>
        <p class="mb-4 text-muted">Voici le tableau de bord relatif aux derniers éléments narratifs ajoutés.</p>
        <section class="row">
            <div class="col-3 px-2">
                <article class="border p-3 bg-white d-flex flex-column">
                    <h5><strong>Saisons</strong> <small><a class="float-right" href="{{ path('admin_saison') }}"><strong>Gérer</strong></a></small></h5>
                    <small>Dernier ajout :</small><br/>
                    <a href="{{ path('aventure_saison', {numero: dernierSaison.numero} ) }}" >
                        <strong>{{ dernierSaison.titre }}</strong>
                        <img class="img-fluid" src="{{ dernierSaison.image }}" alt="Image d'une Saison" />
                    </a><br/>
                    <div class="d-flex justify-content-between align-items-end">
                        <div><a href="{{ path('admin_saison_create') }}" class="btn btn-primary">Ajouter</a></div>
                        <div class="ml-auto">
                            <small>Total :</small>
                            <span class="display-4"><strong>{{ nbrSaisons }}</strong></span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-3 px-2">
                <article class="border p-3 bg-white d-flex flex-column">
                    <h5><strong>Chapitres</strong> <small><a class="float-right" href="{{ path('admin_chapitre') }}"><strong>Gérer</strong></a></small></h5>
                    <small>Dernier ajout :</small><br/>
                    <a href="{{ path('aventure_saison', {numero: dernierChapitre.saisonParent.numero, '_fragment' : 'tete-lecture-ch'~dernierChapitre.numero} ) }}" >
                        <strong>{{ dernierChapitre.titre }}</strong>
                        <img class="img-fluid" src="{{ dernierChapitre.image }}" alt="Image d'un Chapitre" />
                    </a><br/>
                    <div class="d-flex justify-content-between align-items-end">
                        <div><a href="{{ path('admin_chapitre_create') }}" class="btn btn-primary">Ajouter</a></div>
                        <div class="ml-auto">
                            <small>Total :</small>
                            <span class="display-4"><strong>{{ nbrChapitres }}</strong></span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-3 px-2">
                <article class="border p-3 bg-white d-flex flex-column">
                    <h5><strong>Épisodes</strong> <small><a class="float-right" href="{{ path('admin_episode') }}"><strong>Gérer</strong></a></small></h5>
                    <small>Dernier ajout :</small><br/>
                    <a href="{{ path('aventure_episode', {id: dernierEpisode.id} ) }}" >
                        <strong>{{ dernierEpisode.titre }}</strong>
                        <img class="img-fluid" src="{{ dernierEpisode.image }}" alt="Image d'un Episode" />
                    </a><br/>
                    <div class="d-flex justify-content-between align-items-end">
                        <div><a href="{{ path('admin_episode_create') }}" class="btn btn-primary">Ajouter</a></div>
                        <div class="ml-auto">
                            <small>Total :</small>
                            <span class="display-4"><strong>{{ nbrEpisodes }}</strong></span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-3 px-2">
                <article class="border p-3 bg-white d-flex flex-column">
                    <h5><strong>Scènes</strong> <small><a class="float-right" href="{{ path('admin_scene') }}"><strong>Gérer</strong></a></small></h5>
                    <small>Dernier ajout :</small><br/>
                    <a href="{{ path('aventure_episode', {id: dernierScene.episodeParent.id, '_fragment' : 'scn'~dernierScene.numero} ) }}" >
                        <strong>{{ dernierScene.titre }}</strong>
                        <img class="img-fluid" src="{{ dernierScene.image }}" alt="Image d'une Scène" />
                    </a><br/>
                    <div class="d-flex justify-content-between align-items-end">
                        <div><a href="{{ path('admin_scene_create') }}" class="btn btn-primary">Ajouter</a></div>
                        <div>
                            <small>Total :</small>
                            <span class="display-4"><strong>{{ nbrScenes }}</strong></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        {% endblock %}

    </div> 
</main>

{% endblock %}
